---
import type { CollectionEntry } from 'astro:content';

import FormattedDate from '../components/FormattedDate.astro';
import Layout from './Layout.astro';

type Props = CollectionEntry<'events'>['data'];

const { videos, title, date, slug, body } = Astro.props;
---

<Layout title={title}>
	<main class="grid md:grid-cols-[1fr_60rem_1fr]">
			<article class="flex flex-col space-y-4 w-full content-container">
					<div class="prose ">
						<div class="date">
							{!!date && <FormattedDate date={date} />}

						</div>
						<h1>{title}</h1>
					</div>
					{!!videos && videos.length > 0 && videos[0].src && <mux-player
					className="w-full"
					id={title}
					playback-id={videos[0].src}
					metadata-video-title="Placeholder (optional)"
					metadata-viewer-user-id="Placeholder (optional)"
					accent-color="#FF0000"
				></mux-player>}
				<div class="prose">
				<slot/>
				</div>
			</article>
		</main>

</Layout>
